/* Theme Color */
$main-theme-color : #FFFFFF;
$second-theme-color: #F3F4F6;
$tiers-theme-color: #EEDDDD;

/* FontColor */
$main-font-color: #000000;
$main-font-color-disabled: #CCCCCC;
$second-font-color-linear-gradient : linear-gradient(#FFFFFF 0%, #F0F0F0 100%);

/* Default */
$cta-default-background-color: #CCCCCC;

/* Debug */
$debug-color: orange;

