/* variables.scss */
/* Size blocks */
$min-width: 450px;
$max-width: 1440px;

$min-height: 100vh;
$max-height: 100vh;

/* Margin - blocks */
$margin-default: 1rem;
$padding-default: 1rem;
$gap-default: 1rem;

/* Padding - buttons */
$padding-cta-button-default: 0.5rem 1rem;

/* border default */
$default-border-radius: 1rem;