@import "../sass/variables";
@import "../sass/mixins";

footer {
  @include section-container($flex-wrap: wrap, $gap: 5rem,
    $backgroundColor: $tiers-theme-color );

  section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 100%;
    gap: $gap-default;
    padding: $gap-default;

    h2,
    h3,
    h4 {
      text-align: center;
    }

    p {
      width: 100%;
    }
  }

  section#section-about-me {
    @media screen and (min-width: 769px) {
      display: flex;
      flex-direction: column;
    }
  }

  .section-projects {
    padding: $padding-default 0;
    border-top: dashed $main-theme-color;
    border-bottom: dashed $main-theme-color;
  }

  section#section-contact {

    ul#section-social-links,
    ul#section-contact-links {
      @include flex-center();
    }
  }

  section#section-copyright {
    padding: $padding-default;
    border-top: 0.2rem dashed $main-theme-color;
    text-align: center;

    #copyright-texts {
      @include flex-center();
      gap: $gap-default;
      padding: $padding-default;
      margin: $margin-default;
      font-weight: normal;
    }
  }
}