@import "../sass/variables";
@import "../sass/mixins";

form#formSignUp {
    @include section-container($flex-wrap: wrap, $default-grid-template-columns: repeat(1, 60%), $default-grid-template-rows: repeat(12, 1fr));

    h2#formTitle {
        grid-column: span 1;
        grid-row: 1;
        width: 100%;
        text-align: center;
    }

    .inputGroup {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: $gap-default;
        width: 100%;

        label {
            width: 100%;
            text-align: center;
            font-weight: bolder;
        }

        input,
        select {
            width: 100%;
            padding: $padding-default;
            border-radius: $default-border-radius;
            text-align: center;
        }

        .input-error-message-container {
            width: 100%;
            text-align: center;
            padding: $padding-default;
        }
    }

    .inputGroup:not(:last-child) {
        margin-bottom: $gap-default;
    }

    #submit-button-container {
        @include flex-center;
        padding: $padding-default;
        grid-column: span 1;
        grid-row: 12;
        align-self: center;
        align-content: center;
    }

    #validation-message-container,
    #invalidation-message-container {
        grid-column: span 1;
        width: 100%;
        text-align: center;
    }
}
