@import "../sass/variables";
@import "../sass/mixins";

form#formSignUp {
    @include section-container($flex-wrap: wrap, $default-grid-template-columns: repeat(2, 1fr), $default-grid-template-rows: repeat(6, 1fr));

    h2#formTitle {
        grid-column: span 2;
        width: 100%;
        text-align: center;
    }


    .inputGroup {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: $gap-default;
        width: 100%;


        label {
            width: 100%;
            text-align: center;
            font-weight: bolder;
        }

        input,
        select {
            min-width: 100%;
            padding: $padding-default;
            border-radius: $default-border-radius;
            text-align: center;
        }
    }

    // position in grid : 
    #inputFirstName.inputGroup {
        grid-column: 1;
        grid-row: 2;
    }

    #inputLastName.inputGroup {
        grid-column: 2;
        grid-row: 2;
    }

    #inputLastName.inputGroup {
        grid-column: 2;
        grid-row: 2;
    }

    #inputAge.inputGroup {
        grid-column: 1;
        grid-row: 3;
    }

    #inputFamilyGrade.inputGroup {
        grid-column: 2;
        grid-row: 3;
    }

    #inputMail.inputGroup {
        grid-column: 1;
        grid-row: 4;
    }

    #inputPassword.inputGroup {
        grid-column: 1;
        grid-row: 5;
    }

    #inputConfirmPassword.inputGroup {
        grid-column: 2;
        grid-row: 5;
    }

    #submit-button-container {
        @include flex-center;
        padding: $padding-default;
        grid-column: span 2;
        grid-row: 6;
        align-self: center;
        align-content: center;
    }

    .input-error-message-container{
        width: 100%;
        text-align: center;
        padding: $padding-default;
    }
}